.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #021D3A; 
  color: #ffffff;
  padding: 8px 8px 8px 0px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  flex-wrap: wrap;


  @media (max-width: 768px) {
    padding: 12px 16px; 
    flex-direction: column;
    align-items: flex-start;
  }
}
.header div {
    display: flex;
    align-items: center;
    gap: 16px; 
}
.header nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 12px;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
        color: #ffcc00; 
    }
}

.active {
    border-bottom: 2px solid red;
    padding-bottom: 4px;
}


.headerLogo {
  height: 80px;
  width: auto;
  vertical-align: middle;
  padding-left: 5px;
}

@media (max-width: 768px) {
  .headerLogo {
    height: 40px;
  }

  .header {
    padding:10px;
  }
}