.container{
  display: grid;
  grid-template-columns: 1fr;
  padding: 5rem;
  padding-left: 30rem;
  padding-right: 30rem;
  justify-items: center;
  gap: 4rem;
  background-color: lightgray;
  border-radius: 6px;
}

@media(max-width: 700px) {
  .container{
    padding: 5rem;
    gap: 2rem;
  }
}

.head{
  font-size: 40px ;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  border-width: 1.5px;
  padding: 10px;
}

th {
  background-color: #b1b5b4;
  font-size: 30px;
}

.form{
  display: flex;
  gap: 12px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.input{
  padding: 10px;
  min-width: 240px;
  flex: 1 1 240px;
}

.button{
  padding: 10px 16px;
}