.loginContainer {
  display: flex;
  align-items: center;
  gap: 10px;

  /* This pushes the login form to the right side of the header */
  margin-left: auto;
}

.input {
  padding: 6px 10px;
  font-size: 0.9rem;
  border-radius: 4px;
  border: 1px solid #989696;
  background-color: rgb(0, 0, 0);
}


.button {
  padding: 6px 12px;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #45a049;
}